language: node_js
node_js:
  - "6"
  - "4.4.2"

before_install:
  - rvm install 2.2.2

services:
  - redis-server

cache:
  directories:
    - node_modules

before_install:
  - if [[ `npm -v` != 3* ]]; then npm i -g npm@3; fi
  - rvm install 2.2.2

before_script:
  - npm run sass
  - NODE_ENV='ci' npm start&

script:
  - npm run test:ci
  - npm run test:acceptance
