{{<layout}}
{{$step}}Step 1 of 5{{/step}}

{{$journeyHeader}}
{{#t}}journey.header{{/t}}
{{/journeyHeader}}

{{$validationSummary}}
{{> partials-validation-summary}}
{{/validationSummary}}

{{$propositionHeader}}
{{> partials-navigation}}
{{/propositionHeader}}

{{$header}}{{#t}}pages.first-page.header{{/t}}{{/header}}

{{$content}}
<p>{{#t}}pages.first-page.description{{/t}}</p>

{{<partials-form}}

{{$form}}
<h1>Example radio buttons</h1>
{{#radio-group}}example-radio{{/radio-group}}

<fieldset id="example-dob-group" class="panel-indent {{#errors.example-dob}}validation-error{{/errors.example-dob}}">
    <legend class="visuallyhidden">
        <span class="form-label-bold">{{#t}}fields.example-dob.legend{{/t}}</span>
    </legend>

    {{#errors.example-dob}}
            <span id="example-dob-error" class="error-message">
              {{errors.example-dob.message}}
            </span>
    {{/errors.example-dob}}

    <h1>Example date group</h1>
    <p></p>
    <div class="form-group form-date">
        <p>{{#t}}pages.first-page.dob-question{{/t}}</p>
        <p class="form-hint">{{#t}}fields.example-dob.hint{{/t}}</p>
        {{#input-date}}example-dob{{/input-date}}
    </div>

</fieldset>


<h1>Example text input</h1>
{{#input-text}}example-text{{/input-text}}
<h1>Example text input with validation for email address</h1>
{{#input-text}}example-email{{/input-text}}
<h1>Example checkbox</h1>
{{#checkbox}}example-checkbox{{/checkbox}}


{{#input-submit}}continue{{/input-submit}}
{{/form}}

{{/partials-form}}

{{/content}}

{{/layout}}
