{{<layout}}
{{$step}}Step 4 of 5{{/step}}

{{$journeyHeader}}
{{#t}}journey.header{{/t}}
{{/journeyHeader}}

{{$validationSummary}}
{{> partials-validation-summary}}
{{/validationSummary}}

{{$propositionHeader}}
{{> partials-navigation}}
{{/propositionHeader}}

{{$header}}{{#t}}pages.fourth-page.header{{/t}}{{/header}}

{{$content}}

{{<partials-form}}

{{$form}}


<h1>This text input has some custom validation on it</h1>
<p>You will see the custom validation is performed in the controller for this page</p>
{{#input-text}}multiples-input{{/input-text}}

{{#input-submit}}continue{{/input-submit}}
{{/form}}

{{/partials-form}}

{{/content}}

{{/layout}}
