{{<layout}}
{{$step}}Step 2 of 5{{/step}}

{{$journeyHeader}}
{{#t}}journey.header{{/t}}
{{/journeyHeader}}

{{$validationSummary}}
{{> partials-validation-summary}}
{{/validationSummary}}

{{$propositionHeader}}
{{> partials-navigation}}
{{/propositionHeader}}

{{$header}}{{#t}}pages.second-page.header{{/t}}{{/header}}

{{$content}}

{{<partials-form}}

{{$form}}


<fieldset id="yes-no-radio-toggler-group" class="panel-indent {{#errors.yes-no-radio-toggler}}validation-error{{/errors.yes-no-radio-toggler}}">
    <h1>These radio buttons toggle a hidden field</h1>
    {{#radio-group}}yes-no-radio-toggler{{/radio-group}}
    <h1>Example toggled text input</h1>
    <div id="example-toggled-text-div">
        {{#input-text}}example-toggled-text{{/input-text}}
    </div>
</fieldset>

{{#input-submit}}continue{{/input-submit}}
{{/form}}

{{/partials-form}}

{{/content}}

{{/layout}}
